workflows/gdrive-scheduler.json
{
    "name": "Valorantback Automation GDrive",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=Your task is to label a batch of video clips and then prepare a list of their filenames for the next step. Follow these instructions precisely:\n\n1.  First, use the `Get tasks (empty)` tool to find all clips from the spreadsheet where the `status` column is contain nothing.\n\n2.  **If the result of the previous step is empty, skip the next two steps and go directly to step 5.**\n\n3.  If you found clips, use the `Google Gemini Chat Model` Chat Model to generate a `title` and `caption` from tags for **every single clip** in the batch. Look at the example.\n\nFor [example]:\n- tags [sentinel, 3k, zellsis, clutch]\n- title \"Zelsis might be him!\"\n- caption \"Crazy 3K clutch from Zelssis! #valorant #sen #sentinel #clutch #fyp #viral\"\n\n4.  After generating all the content, use the `Update Tasks` tool to update **all the corresponding rows** in the spreadsheet. For each row, you must add the new `title`, `caption`, and set the `status` to `labelled`.\n\n5.  Now, use the `Get tasks (labelled)` tool. If you get an empty result, wait a moment and try again for one more time. If empty result for the last time, stop the workflow and ignore next steps.\n\n6.  Finally, your **only output** for this entire workflow must be a single object containing filename, title, description and tags from step 5.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are an expert automation agent. Your goal is to process and upload Valorant video clips to TikTok by following a strict, multi-step process.\n\n- Think step-by-step to decide which tool to use next based on the user's prompt.\n- Use the provided tools in a logical sequence. Do not skip steps.\n- Only use the data provided by the tools. Do not make up information.\n- Handle one video clip at a time from start to finish.\n- Do not ask for confirmation. Execute the plan as instructed.",
            "maxIterations": 10
          }
        },
        "id": "8c086e9d-4340-43dd-891e-5f4c22194474",
        "name": "Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          832,
          656
        ],
        "executeOnce": false,
        "alwaysOutputData": true,
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          592,
          880
        ],
        "id": "28437e3c-78b4-454b-87f6-ec577703e31d",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "eTkbzoXMG9FFL4p9",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', ``, 'string') }}",
              "caption": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('caption', ``, 'string') }}",
              "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}",
              "filename": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filename__using_to_match_', ``, 'string') }}"
            },
            "matchingColumns": [
              "filename"
            ],
            "schema": [
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "yt_source",
                "displayName": "yt_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tags",
                "displayName": "tags",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "caption",
                "displayName": "caption",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          736,
          880
        ],
        "id": "cfe67822-b6b4-4665-979e-e9418d1f6798",
        "name": "Update Tasks",
        "credentials": {
          "googleApi": {
            "id": "h66p6czSuCoasC3D",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"filename\": \"xxxxxx.mp4\",\n\t\"title\": \"Title\",\n    \"caption\": \"caption\",\n    \"tags\": \"#example, #tag_spacing\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1200,
          880
        ],
        "id": "847d6033-0e75-4308-a45c-7df77281c422",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 11
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          416,
          656
        ],
        "id": "0bd33fbf-84e7-4d8c-9058-bcc5119cf399",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:8009/upload",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "video",
                "inputDataFieldName": "data"
              },
              {
                "name": "sessionid",
                "value": "7871cd7811f24e2d3b4b77ecb660d4ae"
              },
              {
                "name": "description",
                "value": "={{ $json.output.caption }}"
              },
              {
                "name": "visibility",
                "value": "everyone"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2160,
          448
        ],
        "id": "f23a2061-e45f-41a4-94cc-9aa982209117",
        "name": "Upload Tiktok",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:8000/upload",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "video",
                "inputDataFieldName": "data"
              },
              {
                "name": "description",
                "value": "={{ $json.output.caption }}"
              },
              {
                "name": "username",
                "value": "valorantback"
              },
              {
                "name": "password",
                "value": "VQt^DAa4!safllEy27O"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2160,
          640
        ],
        "id": "7f9adce7-0e7e-4e68-9ed8-59a9dc50c16b",
        "name": "Upload Instagram",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          3056,
          864
        ],
        "id": "bfc8a52d-e786-4208-8706-4c2cbf5efdb6",
        "name": "Gemini (Aftertask)",
        "credentials": {
          "googlePalmApi": {
            "id": "eTkbzoXMG9FFL4p9",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}",
              "filename": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filename__using_to_match_', ``, 'string') }}",
              "is_tiktok_uploaded": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_tiktok_uploaded', ``, 'string') }}",
              "is_ig_uploaded": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_ig_uploaded', ``, 'string') }}",
              "is_yt_uploaded": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_yt_uploaded', ``, 'string') }}"
            },
            "matchingColumns": [
              "filename"
            ],
            "schema": [
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "yt_source",
                "displayName": "yt_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "tags",
                "displayName": "tags",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "caption",
                "displayName": "caption",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "is_tiktok_uploaded",
                "displayName": "is_tiktok_uploaded",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "is_ig_uploaded",
                "displayName": "is_ig_uploaded",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "is_yt_uploaded",
                "displayName": "is_yt_uploaded",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          3200,
          864
        ],
        "id": "852165c2-7d8a-4414-b718-c4d9fcd708b1",
        "name": "Update (Aftertask)",
        "credentials": {
          "googleApi": {
            "id": "h66p6czSuCoasC3D",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "resource": "video",
          "operation": "upload",
          "title": "={{ $json.output.title }}",
          "regionCode": "ID",
          "categoryId": "20",
          "options": {
            "description": "={{ $json.output.caption }}",
            "privacyStatus": "public"
          }
        },
        "type": "n8n-nodes-base.youTube",
        "typeVersion": 1,
        "position": [
          2160,
          832
        ],
        "id": "200cf1e6-093e-427f-8fc4-3d4d450d528a",
        "name": "Upload Youtube",
        "credentials": {
          "youTubeOAuth2Api": {
            "id": "wImVMlPaWRPddjND",
            "name": "YouTube account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You will receive an array of upload status objects, each with these fields:\n- filename\n- is_tiktok_uploaded (\"true\" or \"false\")\n- is_instagram_uploaded (\"true\" or \"false\")\n- is_yt_uploaded (\"true\" or \"false\")\n- status (\"completed\" or \"failed\")\n\nFor each object, update the corresponding row in the spreadsheet using the Update (Aftertask) tool.\n\nDo not update any other columns or rows.\n\nOnly one update should be performed per filename, setting the columns exactly as provided.\n\nUpload Status:\n{{ (() => { return JSON.stringify($input.all()) })() }}\n",
          "options": {}
        },
        "id": "6b5d82c8-2266-485a-b9d5-4cfcb0e3bd75",
        "name": "After Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          3056,
          640
        ],
        "executeOnce": false,
        "alwaysOutputData": true,
        "retryOnFail": false
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e79c2cec-3611-4be4-be17-795a50dc71fa",
                "name": "source",
                "value": "tiktok",
                "type": "string"
              },
              {
                "id": "8421c922-5f3c-4990-b829-aa40920e9aa7",
                "name": "filename",
                "value": "={{ $('Agent').item.json.output.filename }}",
                "type": "string"
              },
              {
                "id": "53cbb930-538f-43eb-bf53-f1c7828cdcb6",
                "name": "error",
                "value": "={{ $json.error.message }}",
                "type": "string"
              },
              {
                "id": "47344646-eedb-485c-ae52-78bbb3b45652",
                "name": "message",
                "value": "={{ $json.message }}",
                "type": "string"
              },
              {
                "id": "18a0bacc-aada-4781-be9e-7c1db923e0bb",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2384,
          448
        ],
        "id": "81a449ea-4f36-4fe2-97ee-4395edb82e1f",
        "name": "Add src \"Tiktok\""
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e79c2cec-3611-4be4-be17-795a50dc71fa",
                "name": "source",
                "value": "instagram",
                "type": "string"
              },
              {
                "id": "c06ff35d-e417-409d-bf1e-4ffe1a4535e9",
                "name": "filename",
                "value": "={{ $('Agent').item.json.output.filename }}",
                "type": "string"
              },
              {
                "id": "98b84901-6952-441a-892e-7ecfd191022d",
                "name": "error",
                "value": "={{ $json.error.message }}",
                "type": "string"
              },
              {
                "id": "442ed9f9-6672-456b-87a1-6f50dd82b2f0",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2384,
          640
        ],
        "id": "0af0a397-3f61-4f2d-8fd7-9021824d3232",
        "name": "Add src \"Instagram\""
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e79c2cec-3611-4be4-be17-795a50dc71fa",
                "name": "source",
                "value": "youtube",
                "type": "string"
              },
              {
                "id": "0abba409-e55f-4255-8c9d-351405f82075",
                "name": "error",
                "value": "={{ $json.error }}",
                "type": "string"
              },
              {
                "id": "2fe057bb-9059-472c-80a6-c30515931ef5",
                "name": "filename",
                "value": "={{ $('Agent').item.json.output.filename }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2384,
          832
        ],
        "id": "75e32d39-ff87-41dd-8fb1-e2fb4f321b32",
        "name": "Add src \"Youtube\""
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2608,
          624
        ],
        "id": "f63f0f69-e508-432e-bbad-4aad249a9944",
        "name": "Merge2"
      },
      {
        "parameters": {
          "jsCode": "const output = {};\n$input.all().forEach(item => {\n  const { source, filename, error } = item.json;\n  if (!output[filename]) {\n    output[filename] = { filename };\n  }\n  if (source === 'tiktok')    output[filename].is_tiktok_uploaded    = error ? \"false\" : \"true\";\n  if (source === 'instagram') output[filename].is_instagram_uploaded = error ? \"false\" : \"true\";\n  if (source === 'youtube')   output[filename].is_yt_uploaded        = error ? \"false\" : \"true\";\n});\n\nObject.values(output).forEach(item => {\n  item.status = (\n    item.is_tiktok_uploaded === \"true\" &&\n    item.is_instagram_uploaded === \"true\" &&\n    item.is_yt_uploaded === \"true\"\n  )\n  ? \"completed\"\n  : \"failed\";\n});\n\nreturn Object.values(output).map(item => ({ json: item }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2832,
          640
        ],
        "id": "8f0f289b-5069-47a3-b2e3-3f3cd6951515",
        "name": "Flatten"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          880,
          880
        ],
        "id": "8ba652aa-a548-44bd-8971-13ed4fa656d5",
        "name": "Get tasks (empty)",
        "credentials": {
          "googleApi": {
            "id": "h66p6czSuCoasC3D",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112O_ei_PpvgUOkSmdMPpjT-vSazBcQA13BDvRXXMMpU/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "labelled"
              }
            ]
          },
          "options": {
            "returnFirstMatch": true
          }
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          1040,
          880
        ],
        "id": "30531457-68f5-449f-9e55-a278c7959e84",
        "name": "Get tasks (labelled)",
        "credentials": {
          "googleApi": {
            "id": "h66p6czSuCoasC3D",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "resource": "fileFolder",
          "queryString": "={{ $json.output.filename }}",
          "limit": 1,
          "filter": {
            "driveId": {
              "mode": "list",
              "value": "My Drive"
            },
            "folderId": {
              "__rl": true,
              "value": "1DQp2SU7HspOqQkXyIefovzVLNdzXQgk_",
              "mode": "list",
              "cachedResultName": "valorantback",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1DQp2SU7HspOqQkXyIefovzVLNdzXQgk_"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1360,
          528
        ],
        "id": "96f06527-4fb5-403f-a8b4-401e13425232",
        "name": "Search files and folders",
        "credentials": {
          "googleApi": {
            "id": "h66p6czSuCoasC3D",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "binaryPropertyName": "data"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1584,
          528
        ],
        "id": "c5680c9d-42a6-4cbd-b6a1-1f3c9931b120",
        "name": "Download file",
        "credentials": {
          "googleApi": {
            "id": "h66p6czSuCoasC3D",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1904,
          640
        ],
        "id": "af317e2e-e4f2-4ee0-85bc-d7ac287285b8",
        "name": "Merge JSON & BInary"
      }
    ],
    "pinData": {},
    "connections": {
      "Agent": {
        "main": [
          [
            {
              "node": "Search files and folders",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge JSON & BInary",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Update Tasks": {
        "ai_tool": [
          [
            {
              "node": "Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Tiktok": {
        "main": [
          [
            {
              "node": "Add src \"Tiktok\"",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add src \"Tiktok\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Instagram": {
        "main": [
          [
            {
              "node": "Add src \"Instagram\"",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add src \"Instagram\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini (Aftertask)": {
        "ai_languageModel": [
          [
            {
              "node": "After Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Update (Aftertask)": {
        "ai_tool": [
          [
            {
              "node": "After Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Upload Youtube": {
        "main": [
          [
            {
              "node": "Add src \"Youtube\"",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add src \"Youtube\"",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "After Agent": {
        "main": [
          []
        ]
      },
      "Add src \"Tiktok\"": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add src \"Instagram\"": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Add src \"Youtube\"": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Flatten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Flatten": {
        "main": [
          [
            {
              "node": "After Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get tasks (empty)": {
        "ai_tool": [
          [
            {
              "node": "Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get tasks (labelled)": {
        "ai_tool": [
          [
            {
              "node": "Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Search files and folders": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Merge JSON & BInary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge JSON & BInary": {
        "main": [
          [
            {
              "node": "Upload Tiktok",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload Instagram",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload Youtube",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "f1152467-0c2c-424a-8130-48a0a6fde83b",
    "meta": {
      "templateId": "self-building-ai-agent",
      "templateCredsSetupCompleted": true,
      "instanceId": "8a2635f86c0c29df349e22235a0d09fc9c87f5e8fd5d0c44dce3ddd9f6636c24"
    },
    "id": "JrFC85rbRG2DqTF1",
    "tags": [
      {
        "createdAt": "2025-09-14T08:09:43.832Z",
        "updatedAt": "2025-09-14T08:09:43.832Z",
        "id": "H9PncIwjN4ZrV9TY",
        "name": "automation"
      },
      {
        "createdAt": "2025-09-14T08:09:37.584Z",
        "updatedAt": "2025-09-14T08:09:37.584Z",
        "id": "wEK6H2r3vALvDvL6",
        "name": "valorant"
      }
    ]
  }